.popup__close-button {
    background-image: url(../../../images/add-button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;

    border: 0;

    transform: rotate(45deg);

    position: absolute;
    right: -40px;
    top: -40px;

    cursor: pointer;
    outline: none;

    min-width: 40px;
    min-height: 40px;

    margin: 0;
    padding: 0;
}